@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
  background-color: theme('colors.dark.gray1');
  color: theme('colors.dark.gray12');
  text-rendering: geometricprecision;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
