@import url('https://rsms.me/inter/inter.css');

:root {
  /* COLORS */

  --jb-green: #0ec785;
  --jb-purple: #3c2bac;
  --jb-gradient: linear-gradient(
    135deg,
    var(--jb-green) 0%,
    var(--jb-purple) 100%
  );
  --selection-background: rgba(44, 239, 180, 0.7);

  --grey-1: hsl(197, 33%, 97%);
  --grey-2: hsl(197, 32%, 92%);
  --grey-3: hsl(197, 27%, 87%);
  --grey-4: hsl(197, 14%, 70%);
  --grey-5: hsl(197, 8%, 45%);
  --grey-6: hsl(197, 13%, 29%);
  --grey-7: hsl(197, 20%, 19%);
  --grey-8: hsl(197, 12%, 12%);
  --grey-9: hsl(197, 26%, 7%);

  --teal-1: hsl(197, 100%, 84%);
  --teal-2: hsl(197, 61%, 37%);
  --teal-3: hsl(197, 100%, 25%);

  --link-color: var(--teal-3);

  --background-color: white;

  /* FONTS */
  --ff-sans: 'Inter', Roboto, -apple-system, system-ui, BlinkMacSystemFont,
    'Segoe UI', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --ff-serif: Georgia, serif;
  --ff-mono: Menlo, Monaco, 'Courier New', monospace;

  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 1.5rem;
  --fs-3xl: 1.875rem;
  --fs-4xl: 2.25rem;
  --fs-5xl: 3rem;
  --fs-6xl: 4rem;

  --lh-none: 1;
  --lh-tight: 1.25;
  --lh-snug: 1.375;
  --lh-normal: 1.5;
  --lh-relaxed: 1.625;
  --lh-loose: 2;

  /* // ------ SHADOWS ------ // */
  --bs-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.04);
  --bs-default: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --bs-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --bs-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --bs-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --bs-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --bs-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --bs-outline: 0 0 0 3px rgba(66, 153, 225, 0.5);

  /* LAYOUT */
  --zi-nav: 100;
}

/* DARK MODE */
div[data-colormode='dark'] {
  --grey-9: white;
  --grey-8: hsl(197, 33%, 97%);
  --grey-7: hsl(197, 32%, 92%);
  --grey-6: hsl(197, 27%, 87%);
  --grey-5: hsl(197, 14%, 70%);
  --grey-4: hsl(197, 8%, 45%);
  --grey-3: hsl(197, 13%, 29%);
  --grey-2: hsl(197, 20%, 19%);
  --grey-1: hsl(197, 12%, 12%);

  --grey-0: hsl(197, 26%, 7%);

  --teal-3: hsl(197, 100%, 84%);
  --teal-2: hsl(197, 61%, 37%);
  --teal-1: hsl(197, 100%, 25%);

  --link-color: #ade8ff;

  --background-color: var(--grey-0);
}

/* DEFAULTS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: var(--ff-sans);
  color: var(--grey-9);
  background: var(--background-color);
}
::selection {
  background: var(--selection-background);
  color: var(--grey-9);
}
